<div class="container">
    <h1 class="text-center mb-5">Sign up</h1>
    <div class="row justify-content-center mt-5">

        <div class="col-md-5">


            <form method="POST" action="/auth/sign-up">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label>Surname</label>
                    <input type="text" class="form-control" name="surName">
                </div>

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <div class="form-group">
                    <label for="user-list">Are you a :</label>
                    <select name="role" class="form-control" id="user-list">
                        <option>Seleccionar</option>
                        <option value="FARMER">Farmer</option>
                        <option value="BUYER">Buyer</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-dark btn-block">Sign up</button>

                {{#if errorMsg}}
                <div style="background: red; color: white; text-align: center; padding: 10px; margin-top:10px">
                    {{errorMsg}}</div>
                {{/if}}

            </form>
        </div>
    </div>



</div>