<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome {{user.username}}!</h1>
            <p>You are a {{user.role}}, you hace access to this page</p>
            {{#if uncompleted}}
            <p>COMPLETA TU PERFILLLLL!!</p>
            {{/if}}
            {{#if isFarmer}}
            <a href="/profile/create-farm?id={{user.id}}">Create your farm profile</a>
            {{/if}}
        </div>
    </div>
</div>

