<h1 class="mb-5 mt-5 text-center farm-list-h1">Farms List</h1>
<section class="product-list mt-5 mb-5">
    <div class="container">
        <div class="row mb-5">
            <div class=" col-12">
                <form class="form-search form-search-farm" action="/farms" method="GET">
                    <input class="form-control input-search" type="search" placeholder="Search" aria-label="Search"
                        name="search">
                    <button class="btn btn-search btn-search-farm" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row">

            {{#each allFarms}}
            {{>farmList}}
            {{/each}}
        </div>
        <div class="row mb-5">
            <div class=" col-12">
                <a class="mt-3 btn btn-outline-secondary" href="/">Back to Index </a>
            </div>
        </div>
    </div>
</section>