body {
  font-weight: 100;
  font-family: sans-serif; 
}


textarea{
  resize:none;

}

img{
  width:100%
}

.img-farm-card{
  height: 250px;
  object-fit: cover;
}

.img-farm-detail{
  height: 300px;
  object-fit: cover;
}

.img-fluid {
  height: 300px;
  object-fit: cover;
}

#farmsMap{
  height: 450px;
  background-color: rgb(2, 68, 2);
}



