body {
  font-weight: 100;
  font-family: sans-serif; 
}
.navbar{

  margin-bottom: 60px;

}

textarea{
  resize:none;

}

img{
  width:100%
}

.img-farm-card{
  height: 250px;
  object-fit: cover;
}

.img-farm-detail{
  height: 500px;
  object-fit: cover;
}



